@font-face {
	font-family: "DungGeunMo";
	src: url("./font/DungGeunMo.ttf") format("truetype");
}
@font-face {
	font-family: "PixelMplus12";
	src: url("./font/PixelMplus12-Regular.ttf") format("truetype");
}

body {
	margin: 0px;
	background-color:#008080;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}
body * {
	font-size: 18px;
	font-family: "DungGeunMo", "PixelMplus12";
}
select {
	padding-top: 0px;
	padding-bottom: 0px;
}

#offline-tab {
	border: 0px;
}
#input-list {
	height: 380px;
	overflow: auto;
}
#signin,
#signout {
	padding-left: 12px;
	padding-right: 12px;
}
#window-content {
	margin: 10px;
}
#content {
	width: 990px;
	height: 640px;
	padding: 20px;
}
#t-button {
	margin: 20px;
}
#bracket {
	width: 950px;
	height: 600px;
}
#lang-op {
	width: 0px;
}
#status-bar p {
	height: 30px;
}

.input {
	height: 30px;
}
.setting {
	width: 450px;
}
.field-row-stacked {
	width: 200px;
}
.field-row {
	justify-content: flex-end;
}

.list {
	height: 100px;
	border: solid;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 10px;
	display: none;
}

.room-name {
	font-size: 26px;
	float: left;
	margin-top: 15px;
}

.room-password {
	float: left;
	display: none;
}

.room-join {
	border: solid;
	float: right;
	margin-top: 11px;
}

.join-button {
	padding: 10px 30px;
	font-size: 20px;
}

.panel {
	height: 40px;
}

.room-panel {
	float: left;
}

.page-panel {
	float: right;
}

.page-button {
	display: none;
}

.page-num {
	color: inherit;
	text-decoration: none;
}